<%- include("../partials/header") %>
    <title><%= title %></title>
  </head>
  <body>
        <%- include("../partials/navbar")%>
    <div class="container">
      <div class="row mt">
        <h1 class="text-center">Sign In</h1>
      </div>
        <div class="row d-flex justify-content-center">
          <% if (validationError || accessError) {%>
          <div>
            <p class="text-danger text-center"><%= validationError ? validationError : accessError ? accessError : '' %></p>
          </div>
          <% } %>
          <form action="/login" method="POST" class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" value="<%= body.email %>" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" value="<%= body.password %>" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
    </div>

    <%- include("../partials/footer") %>
